* {
  margin: 0px 20px;
  background-color: rgb(252, 255, 255);
}

header {
  display: flex;
  background-color: #0a22f4;
  text-align: right;
  width: 100%;
}

.logo {
  background-color: transparent;
}

.navigation {
  background-color: transparent;
  padding-top: 25px;
}

.navigation a {
  text-decoration: none;
  background-color: transparent;
  color: white;
}
